{
    admin off
    auto_https off
    order coraza_waf first
    order rate_limit before basicauth
}

{% for upstream in upstreams %}
http://{{ upstream.Hostname }}:{{ CADDY_PORT }} {
    {%- if ENABLE_CORAZA_WAF %}
	coraza_waf {
	    {%- if ENABLE_RULE_WORDPRESS %}
            include /etc/caddy/rules/wordpress/shared/crs-attacks.conf
	    {% endif -%}

        {%- if ENABLE_RULE_CORAZA_RECOMMENDED %}
            include /etc/caddy/rules/coraza-recommended/*.conf
        {% endif -%}

        {%- if ENABLE_RULE_RIOTKIT_ORG_BASIC %}
            include /etc/caddy/rules/riotkit-org-basic/*.conf
        {% endif -%}

        {% if ENABLE_CRS %}
            include /etc/caddy/rules/owasp-crs/*.conf

            {% if ENABLE_RULE_WORDPRESS %}
            directives `
                SecAction "id:900130,phase:1,nolog,pass,t:none,setvar:tx.crs_exclusions_wordpress=1
            `
            {% endif %}

            {% if ENABLE_RULE_DRUPAL %}
            directives `
                SecAction "id:900130,phase:1,nolog,pass,t:none,setvar:tx.crs_exclusions_drupal=1
            `
            {% endif %}

        {% endif %}

        # mount your volume/configmap there
        include /etc/caddy/rules/custom.conf
	}
	{% endif %}

	{%- if ENABLE_RATE_LIMITER %}
	rate_limit {
        zone by_ip_address {
            key    {remote_host}
            events {{ RATE_LIMIT_EVENTS }}
            window {{ RATE_LIMIT_WINDOW }}
        }
    }
    {% endif -%}

    {%- if ENABLE_CUSTOM_UPSTREAM_CONF %}
	import /etc/caddy/custom-upstream.conf
	{% endif -%}
	reverse_proxy {{ upstream.PassTo }}
}
{% endfor %}

# ======================
# Health check endpoint
# ======================
http://0.0.0.0:8081 {
    respond "OK Riotkit!"
}

:2019 {
	metrics /metrics
}
